In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/home/exam1/Desktop/data.csv')
df

   Idx HomeOwner        Status    Income Defaulted
0    1       Yes  Not Business      High        No
1    2        No      Business  Not High        No
2    3        No  Not Business  Not High        No
3    4       Yes      Business      High        No
4    5        No  Not Business  Not High       Yes
5    6        No      Business  Not High        No
6    7       Yes  Not Business      High        No
7    8        No  Not Business  Not High       Yes
8    9        No      Business  Not High        No
9   10        No  Not Business  Not High       Yes

In [4]:
n = df.shape[0]
n

10

In [5]:
cols = df.columns
m = len(cols)

In [6]:
d = df.to_numpy()

In [7]:
given = ['No', 'Business', 'High']

In [12]:
pO, pH, pB = 0,0,0
pO_yes, pH_yes, pB_yes = 0,0,0
p_yes = 0

#counting:
for i in range(0,n):
    if d[i][-1] == 'Yes':
            p_yes +=1
    if d[i][1] == given[0]:
        pO +=1
        if d[i][-1] == 'Yes':
            pO_yes +=1
    if d[i][2] == given[1]:
        pB +=1
        if d[i][-1] == 'Yes':
            pB_yes +=1
    if d[i][3] == given[2]:
        pH +=1
        if d[i][-1] == 'Yes':
            pH_yes +=1

print(pO, pH, pB, pO_yes, pH_yes, pB_yes)
#finding probabilities:
pO /=n
pH /=n
pB /=n
pO_yes /=n
pH_yes /=n
pB_yes /=n
p_yes /=n

print(pO, pH, pB, pO_yes, pH_yes, pB_yes)

7 3 4 3 0 0
0.7 0.3 0.4 0.3 0.0 0.0

In [13]:
#implementing naive bayes

pYes_OBH = (pO_yes*pH_yes*pB_yes*p_yes)/(pO*pH*pB)
print(pYes_OBH)

if(pYes_OBH>0.5):
    ans = 'Yes'
else:
    ans = 'No'
    
print("Predicted class for tuple: ", given, " is: ", ans)

0.0
Predicted class for tuple:  ['No', 'Business', 'High']  is:  No

In [28]:
new_tuple = {cols[0]:n+1, cols[1]: given[0], cols[2]:given[1], cols[3]:given[2], cols[4]:ans}
new_tuple

{'Idx': 11,
 'HomeOwner': 'No',
 'Status': 'Business',
 'Income': 'High',
 'Defaulted': 'No'}

In [31]:
df_new = df.append(new_tuple,ignore_index=True)

/tmp/ipykernel_4169/1380808132.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df.append(new_tuple,ignore_index=True)

In [32]:
df_new

    Idx HomeOwner        Status    Income Defaulted
0     1       Yes  Not Business      High        No
1     2        No      Business  Not High        No
2     3        No  Not Business  Not High        No
3     4       Yes      Business      High        No
4     5        No  Not Business  Not High       Yes
5     6        No      Business  Not High        No
6     7       Yes  Not Business      High        No
7     8        No  Not Business  Not High       Yes
8     9        No      Business  Not High        No
9    10        No  Not Business  Not High       Yes
10   11        No      Business      High        No